# this running at local so I'll provide the necessary for easy to run kub
JWT_SECRET=OP8OLo/ojmyYE+g7R8AdVnZe0q37nIvwtTZSS+Ojnn/qDHd8BFt1kUqW59L91y43
POSTGRES_DB=authdb
POSTGRES_USER=authuser
POSTGRES_PASSWORD=authpass
